user_uuid = "a2ab538f-1185-4c49-882e-23853d089567"
bucket_name = "scott-terraform-bootcamp-2023"
index_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/error.html"