terratowns_endpoint="https://terratowns.cloud/api"
garth = {
    public_path = "/workspace/terraform-beginner-bootcamp-2023/public/garth"
    content_version = 3
}

/*
This is how we would do a second home
replace_me = {
    public_path = "/workspace/terraform-beginner-beginner-2023/public/replace_me"
    content_version = 1
}

*/
